sudo: required
services:
  - docker
env:
  global:
    - SHA=$(git rev-parse HEAD)
    - CLOUDSDK_CORE_DISABLE_PROMPTS=1
before_install:
  - openssl aes-256-cbc -K $encrypted_c4820bd76dea_key -iv $encrypted_c4820bd76dea_iv -in multi-k8s-303114-5e06a7ba8205.json.enc -out multi-k8s-303114-5e06a7ba8205.json -d
  - curl https://sdk.cloud.google.com | bash > /dev/null
  - source $HOME/google-cloud-sdk/path.bash.inc
  - gcloud components update kubectl
  - gcloud auth activate-service-account --key-file multi-k8s-303114-5e06a7ba8205.json
  # to run in google cloud console after creating new project
  - gcloud config set project multi-k8s-303114
  - gcloud config set compute/zone europe-west3-a
  - gcloud container clusters get-credentials multi-cluster
  # ---------------------------------------------------------
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
  - docker build -t mateo9686/react-test -f ./client/Dockerfile.dev ./client

script:
  - docker run -e CI=true USERNAME/react-test npm test

deploy:
  provider: script
  script: bash ./deploy.sh
  on:
    branch: master